{% extends "layout.html" %}

{% block custom_head %}

<title>Aaron Reba</title>

{% endblock %}

{% block navbar %}

<li><a href="/">Home</a></li>
<li><a href="/resume">Resume</a></li>
<li class="active"><a href="#">dotrc</a></li>

{% endblock %}

{% block content %}

<div>

<p>bash</p>
<pre>
export PS1="\u@\h:\w \d \t$ "

alias grpe='grep'
alias greo='grep'

alias fgfg='fg'
</pre>

<br>

<p>vim</p>
<pre>
map &lt;F2&gt; :noh&lt;CR&gt;
map &lt;F7&gt; :tabp&lt;CR&gt;
map &lt;F8&gt; :tabn&lt;CR&gt;
map &lt;A-Up&gt; :resize +1&lt;CR&gt;
map &lt;A-Down&gt; :resize -1&lt;CR&gt;
map &lt;A-Left&gt; :vertical-resize +1&lt;CR&gt;
map &lt;A-Right&gt; :vertical-resize -1&lt;CR&gt;
colors torte
set nu
set expandtab
set softtabstop=2
set shiftwidth=2
set tabstop=2
set nowrap

hi PreProc ctermfg=Red

hi spaceline ctermbg=Magenta
match spaceline /^ \+$/

" set isk+=-
</pre>

<br>

<p>tmux</p>
<pre>
set -g prefix C-a

unbind-key C-b
bind-key C-a send-prefix

set-option -g repeat-time 0

bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R
</pre>

</div>

{% endblock %}
