<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        
        <!--jquery-->
        <script type=text/javascript src="http://code.jquery.com/jquery-latest.js"></script>
        
        <!--bootstrap-->
        <script type=text/javascript src="/static/js/bootstrap.js"></script>
        <link type=text/css href="/static/css/bootstrap.css" rel="stylesheet">
        
        <!--custom css-->
        <link type=text/css href="/static/css/self.css" rel="stylesheet">
        
        {% block custom_head %}
        {% endblock %}
    </head>
    <body>
        <div id="main_tab" class="navbar navbar-fixed-top navbar-inner">
            <ul class="nav">
                {% block navbar %}
                {% endblock %}
            </ul>
        </div>
        <div id="main_container" class="container push-down">
            <div class="row-fluid">
                <div class="span12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            <p>
                This site was written using <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> and <a href="http://www.pocoo.org/projects/flask/" target="_blank">Flask.</a><br>
                Domain registered with <a href="http://www.namecheap.com" target="_blank">namecheap.com</a><br>
                Hosting by <a href="http://www.heroku.com" target="_blank">heroku.com</a>
            </p>
        </div>
    </body>
</html>
