{% extends "layout.html" %}

{% block custom_head %}

<title>Aaron Reba -> Resume</title>

{% endblock %}

{% block navbar %}

<li><a href="/">Home</a></li>
<li class="active"><a href="#">Resume</a></li>

{% endblock %}

{% block content %}

<h3>Resume</h3>

<table class="table">
    <tr>
        <td>Aaron Reba</td>
        <td>Chicago, IL</td>
    </tr>
    <tr>
        <td>aaronreba at gmail dot com</td>
        <td><a href="http://www.github.com/aaronreba" target="_blank">github.com/aaronreba</a></td>
    </tr>
</table>

<h4>Technical Skills</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Language</th>
            <th>Experience</th>
            <th>Uses</th>
            <th>Libraries</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>Python</td>
            <td>5+ Years</td>
            <td>
                <ul>
                    <li>Financial Software</li>
                    <li>Web Development</li>
                    <li>Scientific Simulations and Analysis</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="http://www.pocoo.org/projects/flask/" target="_blank">Flask</a></li>
                    <li><a href="http://www.pocoo.org/projects/jinja2/" target="_blank">Jinja2</a></li>
                    <li><a href="http://www.sqlalchemy.org/" target="_blank">Sqlalchemy</a></li>
                    <li><a href="https://wtforms.readthedocs.org/en/latest/" target="_blank">WTForms</a></li>
                    <li><a href="http://www.matplotlib.org/" target="_blank">Matplotlib</a></li>
                    <li><a href="http://www.scipy.org" target="_blank">SciPy</a></li>
                    <li><a href="http://www.numpy.scipy.org" target="_blank">Numpy</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>C++</td>
            <td>3 Years</td>
            <td>
                <ul>
                    <li>High Performance and Low Latency TCP-based Financial Applications</li>
                    <li>Scientific Data Analysis</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="http://www.quickfixengine.org/" target="_blank">Quickfix</a></li>
                    <li><a href="https://www.boost.org/" target="_blank">Boost</a></li>
                    <li><a href="https://isocpp.org/wiki/faq/cpp11" target="_blank">C++11</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>HTML and Javascript</td>
            <td>3 Years</td>
            <td>
                <ul>
                    <li>Web Development</li>
                    <li>Internal Content Management Systems</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a></li>
                    <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
                    <li><a href="http://handlebarsjs.com" target="_blank">Handlebars</a></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Software Tools</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>UNIX Systems</td>
            <td>
                <ul>
                    <li>CentOS</li>
                    <li>Ubuntu</li>
                </ul>
            </td>
            <td>
                Streamlining analysis and file manipulation tasks using BASH scripts.
            </td>
        </tr>
        <tr>
            <td>Source Control</td>
            <td>
                <ul>
                    <li>Git</li>
                </ul>
            </td>
            <td>Rebase, squash, and force push like no tomorrow.</td>
        </tr>
        <tr>
            <td>Databases</td>
            <td>
                <ul>
                    <li>PostgreSQL</li>
                    <li>MySQL</li>
                </ul>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<h4>Experience</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Software Developer</th>
            <th>November 2015 - Present</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Old Mission Capital
                <ul>
                    <li>
                        Developing and maintaining system for tracking firm's position in securities traded on multiple trading platforms. System is also responsible for reconciling positions and trades with clearing firm.
                    </li>
                    <li>
                        Developed and maintained firm's net capital report. Worked with accounting and operations team to develop the firm's first fully automated net capital report.
                    </li>
                    <li>
                        Concurrently maintaining process for translating securities traded on multiple exchanges.
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
    
    <thead>
        <tr>
            <th>Developer</th>
            <th>March 2013 - October 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Hincen Covey
                <ul>
                    <li>
                        Developed SaaS web applications using Flask.
                    </li>
                    <li>
                        A consulting and consumer-based software company specialized in Python-based SaaS web applications.
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
    
    <thead>
        <tr>
            <th>Apprentice Developer</th>
            <th>Aug. 2012 - May 2013</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                CombinedIQ LLC DBA Jumpshot
                <ul>
                    <li>
                        Improving the integrity and robustness of the company's product by developing a management system using Flask, jQuery, and Handlebars.
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
    
    <thead>
        <tr>
            <th>Bioinformatics Developer</th>
            <th>Oct. 2011 - Oct. 2012</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                University of Texas
                <ul>
                    <li>Developed a simulation for an RNA folding experiment.</li>
                    <li>Developed part of a genome resequencer for short-read DNA fragments.</li>
                    <li>
                        Gave a public presentation on an algorithm used to find copied sections of
                        DNA and implemented this algorithm.
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
    
    <thead>
        <tr>
            <th>Collaborating with Graduate Student</th>
            <th>June 2011 - Present</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                University of Texas
                <ul>
                    <li>
                        Discussed software concepts at an easy-to-understand level with the
                        technologically unfamiliar student.
                    </li>
                    <li>
                        Wrote 40+ Python scripts to analyze plant DNA to determine which genes
                        affect seed oil composition.
                    </li>
                </ul>
            </td>
        </tr> 
    </tbody>
    
    <thead>
        <tr>
            <th>Teaching Assistant for Bioinformatics Class</th>
            <th>May/Aug. 2012</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                University of Texas
                <ul>
                    <li>
                        Teacher's assistant for in-depth, week-long class focused on teaching
                        bioinformatics tools and concepts.
                    </li>
                    <li>
                        Helped students use the Unix terminal and using bioinformatics tools through
                        the terminal.
                    </li>
                    <li>
                        Wrote most of the course material on the topics of using the university's
                        super computer and assembling genomes.
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<h4>Publications</h4>

<ul>
    <li>
        <b>Barrick, J.E., Colburn, G., Deatherage D.E., Traverse, C.C., Strand, M.D., Borges, J.J.</b>, Knoester, D.B., <b>Reba, A., Meyer, A.G.</b> (2014) Identifying structural variation in haploid microbial genomes from short-read resequencing data using breseq. BMC Genomics <b>15</b>:1039. <a href="http://www.ncbi.nlm.nih.gov/pubmed/25432719">Pubmed:25432719</a>
    </li>
    <li>
        <b>Sandra E. Pelc,</b> Sara J. Wright, A. Reba, C. Randall Linder (2015) Genome-Wide Association Study of Arabidopsis thaliana Identifies Determinants of Natural Variation in Seed Oil Composition. J Hered <b>107(3)</b>:248-56 <a href="http://www.ncbi.nlm.nih.gov/pubmed/26704140">Pubmed:26704140</a>
    </li>
    <li>
        <b>Sandra E. Pelc,</b> Sara J. Wright, A. Reba, G. Morrison, C. Randall Linder (2016) Genome-Wide Association Study in Arabidopsis thaliana of Natural Variation in Seed Oil Melting Point: A Widespread Adaptive Trait in Plants. J Hered <b>107(3)</b>:257-65 <a href="http://www.ncbi.nlm.nih.gov/pubmed/26865732">Pubmed:26865732</a>
    </li>
    <li>
        Reba, A., Meyer, A.G., <b>Barrick, J.E.</b> Computational tests of a thermal cycling strategy to isolate more complex functional nucleic acid motifs from random sequence pools by in vitro selection. In: C. Adami et al. (eds.).  <i>Artificial Life XIII: Proceedings of the Thirteenth International Conference on the Synthesis and Simulation of Living Systems.</i> Cambridge, MA: MIT Press.  <b>Won best paper in "Synthetic Biology" track at the conference.</b>
    </li>
</ul>

<h4>Education</h4>

<table class="table">
    <tr>
        <th>Bachelor of Science in Computer Science</th>
        <th>Aug. 2007 - Dec. 2010</th>
    </tr>
    
    <tr>
        <td>Texas State University - San Marcos</td>
    </tr>
</table>

{% endblock %}
